<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="{% static 'css/monokai.css' %}">
</head>
{% if request.user.username == article.author.username %}
    <a href="{% url 'article:delete' article.id %}">删除文章</a>
    <a href="{% url 'article:edit' article.id %}">编辑文章</a>
{% endif %}
<body>
作者: {{ article.author }}
发布时间: {{ article.created_time }}
最后更新时间: {{ article.updated_time }}

<div class="col-9">
    ...
    <!-- 已有代码，文章正文 -->
    <div class="col-12">
        ...
    </div>

    <!-- 发表评论 -->
    <hr>
    {% if user.is_authenticated %}
        <div>
            <form
                    action="{% url 'comment:post' article.id %}"
                    method="POST"
            >
                {% csrf_token %}
                <div class="form-group">
                    <label for="body">
                        <strong>
                            我也要发言：
                        </strong>
                    </label>
                    <textarea
                            type="text"
                            class="form-control"
                            id="body"
                            name="body"
                            rows="2"></textarea>
                </div>
                <!-- 提交按钮 -->
                <button type="submit" class="btn btn-primary ">发送</button>
            </form>
        </div>
        <br>
    {% else %}
        <br>
        <h5 class="row justify-content-center">
            请<a href="{% url 'userprofile:login' %}">登录</a>后回复
        </h5>
        <br>
    {% endif %}



    <!-- 显示评论 -->
    <h4>共有{{ comments.count }}条评论</h4>
    <div>
        {% for comment in comments %}
            <hr>
            <p>
                <strong style="color: pink">
                    {{ comment.user }}
                </strong> 于
                <span style="color: green">
                    {{ comment.created|date:"Y-m-d H:i:s" }}
                </span> 时说：
            </p>
            <pre style="font-family: inherit; font-size: 1em;">
{{ comment.body }}</pre>
        {% endfor %}
    </div>
</div>

<p>{{ article.body|safe }}</p>
</body>
</html>